ul {
  text-align: right;
  width: 90%;
  height: 20px;
  margin-top: 15px;
}

li {
  display:inline;
  color: white;
  padding-left: 20px;
}

body {
  background-color: black;
  font: normal 300 .8em'Open Sans', sans-serif;
  overflow-x:hidden;
}

.main_img {
  display: block;
  margin: auto;
  margin-top: 200px;
}
